@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap');





/* 

color-codes

green=#00a896
lite-green=02c39a
grey=#282828;

*/



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:arial;
    line-height:1.5em;
    font-family: 'Poppins', sans-serif;
}


img{
    width:100%;
}

.page1{
    height: 100vh;
    width:100%;    
    background-image:url('img/bg-img2.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-color:rgba(0,0,0,.8);
    background-blend-mode:multiply;
}


/*********** HEAD AREA *********/



.head-cont{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width:95%;
    margin:0 auto;
    padding: 1em 0;
    border-bottom:3px solid #02c39a;
}


.lines{
    margin: 3px;
    width:23px;
    height:2px;
    background-color: white; 
    transition: all .5s ease-in-out;
}

.ln-1{
     transform: rotate(45deg);
}

.ln-2{
    display: none;
}

.ln-3{
    transform: rotate(-45deg);
}

.logo h1{
    font-weight: 900;
    color:#02c39a;
}

.logo span{
    font-weight: 500;
    color: white;
}

.nav-cont{
    background-color: #02c39a;
    padding: .2em;
    cursor: pointer;
}

.navy{
    position: absolute;
    top:16.4px;
    left:90px;
    transition: all .7s ease;
    clip-path: polygon(0 0,0 0,0 100%,0 100%);

}

.show{
    clip-path:polygon(0 0 ,100% 0,100% 100%,0 100%);

}

.navy ul{
    list-style: none;
    display: flex;
}

@media (max-width:750px){
    .navy ul{
        flex-direction: column;
    }

    .navy{
        top:60px;
        left:10px
    }

    .show{
        clip-path:polygon(0 0 ,100% 0,100% 100%,0 100%);
   
    }

}

.navy ul li a{
    text-decoration: none;
    text-transform: uppercase;
    padding:.2em .5em;
    margin: 0 .2em;
    color:white;
    font-weight: 500;
}

.navy ul li a:hover,
.navy ul li a:focus{
    background-color: #02c39a;
    color: #282828;
}


.bot-iris{
    position: absolute;
    top:10px;
    left:100px;
    transition: left .7s ease-in-out;
    cursor: pointer;
    background-color: #02c39a;
}

.bot-iris:hover,
.bot-iris:focus{
    background-color: #164944;
}


.bot-iris img{
    width:50px;
}


@media (min-width:740px){
    .pull-iris{
        left:500px;
    }
}
/************** MAIN AREA ************/

.main-cont{
    border:1px solid transparent;
    position: relative;
    height: 91vh;
}

.text1-cont{
    margin-top: 30vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.signUp-butn {
    background-color: white;
    color:#02c39a;
    padding:.2em 1em .2em .1em;
    cursor: pointer;
    z-index: 1000;
}





.text1-cont .big-slog{
    margin-left:10vw;
    width:40ch;
    z-index: 2;
}

.text1-cont .big-slog p{
    color:white;
    font-size: 1.5em;
    line-height: 1.3em;
    font-weight: 500;
}


.text1-cont .big-slog p span{
    font-weight: 900;
    color:#02c39a;
}

.text2-cont{
    margin-top: 120px;
    position: relative;
}


.text2-cont .we-slog{
    margin-left: 16.99vw;
    z-index: 5;
}

.we-slog h4{
    color:#02c39a;
    margin-bottom: 10px;
}

.we-slog  h2{
    background-color: #02c39a;
    display: inline;
    padding:.3em;
}


@media (max-width:950px){
    .text2-cont .we-slog{
        margin-left:5vw;
    }
}


@media (max-width:810px){
    .text2-cont .we-slog{
        display: none;
    }

    .text1-cont{
        margin-top: 65vh;
    }

}




.text2-cont .team-name{
    position: absolute;
    top:-40px;
    right: -80px;
    transform: rotate(-90deg);
    font-weight: 900;
    color: #02c39a;
    font-size: .9em;
}

@media (max-width:810px){
    .text2-cont .team-name{
        top:-250px;
        right:-100px;
    }
}

@media (max-width:620px){
    
    .signUp-butn {
        position:absolute;
        top:10px;
        left:15px;
        padding-left:1em;
        transition: all .7s ease-in-out;
    }

    .pull-little{
        top:70px;
    }

    .pull-down{
        top:100px;
    }
}

@media (max-width:500px){

    .text1-cont .big-slog{
        width:35ch;
        margin-left: 6vw;
    }

    .big-box{
        display: none;
    }

    .page1{
        background-image: url('../img/phone-bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color:#282828;
        background-blend-mode:multiply;


    }
}

@media (max-width:420px){
    .text1-cont .big-slog{
        width: 30ch;
    }

    .text2-cont .team-name{
        top:-280px;
    }
}

.team-name span{
    font-weight: 400;
    color:white;
}

.team-name::after{
    content: '';
    display: block;
    position: absolute;
    top:-87px;
    right:-110px;
    height: 200px;
    width:5px;
    background-color: #02c39a;
    transform: rotate(90deg);
}


/*************BIG-BOX****************/

.big-box{
    width:300px;
    height: 100%;
    position: absolute;
    top:0;
    right:10vw;
    background-image: url('../img/box-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #00a896;
    background-blend-mode:multiply;

}

.f-img{
    width:400px;
    position: absolute;
    bottom:-7px;
    right:50px;
}



.scroll-up{
    background-color: #02c39a;
    position: fixed;
    bottom: 10px;
    right:40px;
    padding:.3em;
    border-radius:30%;
    z-index: 200;
    box-shadow: 0 5px 5px #282828;
}

.scroll-up a{
    text-decoration: none;
    color: white;
}

/**************2nd PAGE********************/



.textnImg-cont{
    background-color: #02c39a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2em 1em 1em 1em;
}

.bot-head{
    padding-bottom: 1em;
}

.botImg-cont{
    width:250px;
}

.botImg-cont img{
    border-radius: 20px;
    box-shadow: 0 0 10px 0px #282828;
}

.about-bots{
    padding:1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.botty{
    width:35%;
    padding:1.5em;
    border-radius: 10px;
    background-color:#282828;
    box-shadow:0 5px 3px #282828;
}

.botty h3{
    font-weight: 700;
    color:#02c39a;
    font-size: 1.5em;
    padding-bottom: .7em;
}

.botty p{
    font-weight: 500;
    color: white;
}

@media (max-width:700px){

    .about-bots{
        flex-direction: column;
    }

    .botty{
        width:100%;
        margin-bottom: 1em;
    }
}

.read-btn{
    padding: .5em 1.2em;
    border: none;
    background-color: #02c39a;
    color: #282828;
    cursor: pointer;
}

.read-btn:hover,
.read-btn:focus{
    border:none;
    background-color: #00a896;
    color:white
}

/* ABOUT US AREA */

.about-container{
    background-color: #282828;
    display: flex;
    position: relative;
    width: 100%;
}

.logo-head{
    position:absolute;
    top:0;
    width:100%;
    text-align: center;
    padding: 2.5em;
    background-color:#02c39a;
    font-size: 1.3em;
    font-weight: 900;
    color:white;
}



.logo-head span{
    color: #3b424b;
    font-weight: 500;
}


.point-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 6em 3em 3em 3em;
    padding: 4em 0 1em 0;
}

.point-container div{
    height:200px;
    text-align: center;
    margin: 1em 1em 0 1em;
    flex:1 1 45ch;
    position: relative;
}

.point-container div h2{
    color:#02c39a;
    padding: 1em;
}

.point-container div p{
    color: #f3eee9;
    width: 30ch;
    margin: 0 auto;;
}

.after-effect{
    flex:1 1 30%;
}

.point-container div::after{
    content:'';
    display:block;
    position:absolute;
    top:0px;
    left:80px;
    width:30ch;
    height:180px;
    border:1.5px solid #02c39a;
    border-right: none;
    
}


@media (max-width:800px){
    .point-container div::after{
        display: none;
    }

}

@media (max-width:1050px){
    .point-container div::after{
        left:200px
    }
}



/* FOOTER */


footer{
    background-color:#00a896;
}
.footer-container{
    width:85%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.item-1{
    padding: 1em .5em;
    border-bottom: 2px solid #282828 ;
    width: 100%;

}

.item-1 h4{
    padding: .5em 0;
    color:#282828;
}

.item-1 p{
    width:70%;
    margin-bottom: 20px;
    font-size: .8em;
    color:white;
}

.support-btn{
    padding: .4em 1.5em;
    text-decoration: none;
    background-color: #282828;
    color:white;
    font-size:.8em;
}



.item-2{
    padding:2em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}



.item-2 div span{
    color:#282828;
}
.contact-icn{
    list-style: none;
    font-size: 1.5em;
}

.contact-icn li{
    display: inline;
    padding: 0 .5em;
    color:#282828;
}



.item-3{
    padding: 1em;
    text-align: center;
    font-size: .8em;;
}



.overlay{
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0;
    right: 20px;
    transform: scale(0);
    transition: all .7s ease-in-out;
    background-color: rgba(0,0,0,.6);
}

.popUp-cont{
    padding:1em;
    background-color: white;
    color: #02c39a;
    transform: scale(0);
    transition: all .5s ease-in-out;
    border:1px solid blue;
    width:70%;
    margin: 0 auto;
}

.im-done{
    display: flex;
    justify-content: space-between;
}

.im-done h2{
    padding-bottom: .5em;
}

.im-done h1{
    cursor: pointer;
}

.option a{
    color: #282828;
    text-decoration: none;
    padding-bottom: .5em;
}



.active-overlay{
    transform: scale(1);
}

.active-popUp{
    transform:scale(1);
} 

.close-overlay{
    display: none;
}

.close-popUp{
    display: none;
}


/* kjhkjh */


/* a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
  }
  
  a:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  }
   */
  .chat-container {
    border: 2px solid #dedede;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
    width: 60%
  }
  
  .chat-container p {
    background-color: white;
    font-family: Helvetica;
  }
  
  /* Darker chat container */
  .darker {
    border-color: #ccc;
    background-color: #c0ffee;
  }
  
  .darker p {
    background-color: #c0ffee;
  }
  
  /* Clear floats */
  .chat-container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style images */
  .chat-container img {
    float: left;
    max-width: 60px;
    max-height: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Style the right image */
  .chat-container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: #aaa;
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: #999;
  }